{% extends 'paars/base.html' %}


{% block title %}
<div class="small-header">
    </div>
{% endblock %}

{% block content %}
<div class="post-preview">
    <br>
<h2 class="post-title">Foto's toevoegen</h2>
    <br>
    <p class="post-subtitle">
<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Upload</button>
</p></div><hr>
{% if user.is_authenticated %}
<a class="btn btn-default" href="{% url 'post_edit' pk=12 %}">Bewerk</a>
<hr>
{% endif %}
{% endblock %}