{% extends 'paars/base.html' %}


{% block title %}
<div class="small-header">
    </div>
{% endblock %}

{% block content %}
        <br>
              <h2 class="post-title">
                Zonnestraaltjes
              </h2><br>
{% for dysisci in dysiscis %}
<div class="post-preview">
              <h4 class="post-title">
                {{ dysisci.naam|title }}
              </h4>
                <div class="row">
                    <div class="col"><img src="/static/img/{{ dysisci.foto }}" width="200"></div>
              <div class="col"><p class="post-subtitle">
                {{ dysisci.info|linebreaksbr|urlize }}
              </p></div></div>
          </div>
{% empty %}
<p>Wij hebben op dit moment geen zonnestraaltjes</p>
          <hr>
{% endfor %}
{% endblock %}